img.ui.large.avatar.left.floated.image.postAvatar{
    height: 40px;
    width: 40px;
    padding: 5px;
    position: absolute;
    top: -2px;
    left: 5px

}
img.ui.large.avatar.left.floated.image.postAvatar:hover{
   opacity: .5;
}

h2.ui.right.floated.header.postUsername{
    color: rgba(180, 46, 75, 0.7);
    padding-top: 5px;
}
.heartIcon:hover{
    cursor: pointer;
    opacity: .7;
}
.closeBtn{
    color: rgb(45, 45, 45);
    background-color: whitesmoke;
    width: fit-content;
    padding: 0px 4px 0px 4px;
    border-radius: 3px;
    position: absolute;
    bottom: 6px;
    right: 30px
}
.closeBtn:hover{
   cursor: pointer;
   opacity: .7;
}