.headerLogo {
  border-radius: 5px;
}

.logoutText {
  font-size: 20px;
}
#live_message_badge_main_header {
  padding: 2px 3px;
  top: 10px;
  left: 47px;
}
i.icon.bell.outline {
  color: rgba(139, 60, 128, 0.705);
}
.notificationNumber {
  font-size: 15px;
  position: absolute;
  font-weight: bold;
}
.notificationNumberContainer {
  position: relative;
  left: 10px;
  bottom: 40px;
  margin: auto;
  padding: auto;
  color: rgba(202, 2, 2, 0.664);
}
.requestNumber {
  font-size: 15px;
  position: absolute;
  font-weight: bold;
}
.requestNumberContainer {
  position: relative;
  left: 14px;
  bottom: 39px;
  margin: auto;
  padding: auto;
  color: rgba(202, 2, 2, 0.664);
}
.friendNumber {
  font-size: 15px;
  position: absolute;
  font-weight: bold;
}
.friendNumberContainer {
  position: relative;
  left: 17px;
  bottom: 39px;
  margin: auto;
  padding: auto;
  color: rgba(202, 2, 2, 0.664);
}
.writingSymbol {
  font-size: 15px;
  position: absolute;
  font-weight: bolder;
}
.writingSymbolContainer {
  position: relative;
  right: 13px;
  bottom: 38px;
  margin: auto;
  padding: auto;
}

div.ui.clearing.segment.navContainer {
  /* background-color: rgba(190, 190, 190, 0.801); */
  /* background-color: black; */

  border-radius: 0px;
}

img.ui.mini.image.headerLogo:hover {
  opacity: 0.7;
}
.iconName{
    display: table;
    font-size: 10px;
    background-color: rgba(192, 192, 192, 0.4);
    border-radius: 7px;
    height: 0px;
    position: fixed;
    padding: 1px 4px;
    margin-top: 10px;
    box-shadow: 0em .2em .7em rgba(0, 0, 0, 0.466);
    opacity: .7;
}

#requests{
    right: 243px
}
#friends{
   right: 205px 
}
#mainPhoto{
    right: 320px
}
#mainWriting{
    right: 272px
}
#profile{
    right: 172px
}
#writing{
right: 84px
}
#post{
right: 127px
}

.iconMsgCont{
    position: absolute;
    height: 0px;
}

