img.ui.image.error{
    display: flex;
    height: 80%;
    width: 80%;
}
.imageContainer{
    display: flex;
justify-content: center;
}
.messageText {
    color: rgba(160, 39, 65, 0.822);
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
}