.settingIcon{
    position: relative;
    bottom: 45px;
    left: 380px;
    color: grey;
    margin: auto;
    padding: auto;
}
.settingIcon:hover{
    opacity: .5
}
div.ui.cards.headerCard{
    display: flex;
    margin: -2.35em -.5em;
    flex-wrap: wrap;
}
div.ui.cards.headerCardOther{
    display: flex;
    margin: -2.35em -.5em;
    flex-wrap: wrap;
}
div.ui.cards.headerCardOtherRequest{
    display: flex;
    margin: -2.35em -.5em;
    flex-wrap: wrap;
}
div.iconText{
    position: absolute;
    margin: auto;
    padding: auto;
    top: -15px;
    left: 310px;
    color: grey;
}
h5.firstRowText{
    font-size: 14px;
    font-style: italic;
    font-family: 'Source Sans Pro', sans-serif;
}
h5.secondRowText{
    margin: -15px;
    padding: auto;
    top: -100px;
    font-size: 14px;
    font-style: italic;
    font-family: 'Source Sans Pro', sans-serif;
}
div.iconTextNon{
    position: absolute;
    margin: auto;
    padding: auto;
    top: -15px;
    left: 325px;
    color: grey;
}

.bioHeader{
    text-align: left;
}
/* .bioText{

} */
